[Desktop Entry]
Name=TouchAI
Comment=A desktop AI tool - AI at your fingertips
Exec=TouchAI %u
Icon=TouchAI
Type=Application
Categories=Utility;
StartupWMClass=TouchAI
Actions=Toggle;

[Desktop Action Toggle]
Name=Toggle Window
Exec=TouchAI --toggle
